#header {
	line-height: 50px;
	background: black;
	color: white;
	font-size: 150%;
	padding-left: 60px;
	font-family: arial;
}

#headerIcon {
	color: white;
	font-size: 150%;
}

.red-bg {	background: red; }
.yellow-bg { background: yellow; }
.green-bg { background: green; }
.blue-bg { 	background: blue; }

.padding {
	padding-left: 20px;
	padding-right: 20px;
}

.opac { opacity: 0.5; }
.active span > .fa-circle { color: red; }